#wrap{
  background-color: #000000;
  width: 100%;
  height: content-box;
  display: flex;
}
#map{
  background-color: black;
  height: 100%;
  flex: 1;
  margin: 0;
}
#data{
  background-color: #35364b;
  height: content-box;
  width: 375px;
  box-shadow: inset -2px -2px 4px rgba(255,255,255,0.5),
  inset 2px 2px 4px rgba(70,70,70,0.12);
}
